/* Alternatively could use Sass, Less or a CSS-in-JS library depending on project/team needs */

header{
  height: 50px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 36px;
}

main{
  background-color: white;
  padding: 20px;
  font-size: 1.3em;
}